SUMEET SHINDE T116\
Practical 4 : Hypothesis Testing \
 Formulate null and alternative hypotheses for a given problem.\
 Conduct a hypothesis test using appropriate statistical tests (e.g., t-test, chi-
square test).\
 Interpret the results and draw conclusions based on the test outcomes.

In [13]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats import weightstats as stests

In [14]:
df = pd.read_csv("/content/adult.csv.zip")
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

1.One Sample t-test

In [15]:
sample = df["age"].dropna()

t_stat, p_val = stats.ttest_1samp(sample, 40)

print("T-statistic:", t_stat)
print("P-value:", p_val)

if p_val < 0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to Reject Null Hypothesis")

T-statistic: -18.763123242188495
P-value: 3.9116045227993324e-78
Reject Null Hypothesis

Two Sample (Independent) t-test

In [16]:
male = df[df["sex"]=="Male"]["hours.per.week"].dropna()
female = df[df["sex"]=="Female"]["hours.per.week"].dropna()

t_stat, p_val = stats.ttest_ind(male, female)

print("T-statistic:", t_stat)
print("P-value:", p_val)

if p_val < 0.05:
    print("Reject Null Hypothesis (Significant difference)")
else:
    print("Fail to Reject Null Hypothesis")

T-statistic: 42.50952506734037
P-value: 0.0
Reject Null Hypothesis (Significant difference)

Paired t-test

In [17]:
# create a paired variable (just for practice)
df["simulated_after"] = df["education.num"] + np.random.randint(-1, 2, len(df))

before = df["education.num"]
after = df["simulated_after"]

t_stat, p_val = stats.ttest_rel(before, after)

print("T-statistic:", t_stat)
print("P-value:", p_val)

if p_val < 0.05:
    print("Reject Null Hypothesis (significant difference)")
else:
    print("Fail to Reject Null Hypothesis")

T-statistic: 0.32482446302966983
P-value: 0.7453160156884306
Fail to Reject Null Hypothesis

Chi-Square test

In [18]:
from scipy.stats import chi2_contingency

contingency = pd.crosstab(df["sex"], df["income"])

chi2, p, dof, expected = chi2_contingency(contingency)

print("Chi2 Statistic:", chi2)
print("P-value:", p)

if p < 0.05:
    print("Reject Null Hypothesis (Variables are related)")
else:
    print("Fail to Reject Null Hypothesis")

Chi2 Statistic: 1517.813409134445
P-value: 0.0
Reject Null Hypothesis (Variables are related)

In [19]:
groups = []

for level in df["education"].unique():
    group_data = df[df["education"] == level]["hours.per.week"].dropna()
    groups.append(group_data)

F_stat, p_val = stats.f_oneway(*groups)

print("F-statistic:", F_stat)
print("P-value:", p_val)

if p_val < 0.05:
    print("Reject Null Hypothesis (At least one group is different)")
else:
    print("Fail to Reject Null Hypothesis")

F-statistic: 85.10906767646323
P-value: 8.67250589404764e-258
Reject Null Hypothesis (At least one group is different)

Z-test

In [20]:
z_stat, p_val = stests.ztest(df["hours.per.week"].dropna(), value=40)

print("Z-stat:", z_stat)
print("P-value:", p_val)

if p_val < 0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to Reject Null Hypothesis")

Z-stat: 6.3930274838032854
P-value: 1.6263301522253485e-10
Reject Null Hypothesis